#gallery_show

  #gallery_scheduled_photos
    =# gallery_path_ui

    %ul.breadcrumb
      %li
        =link_to('Galleries', root_path)
        %span.divider
          \/
      %li.active
        =@gallery.name
        = "(#{t('.photos_in_queue')} #{@scheduled_photos})" if @scheduled_photos > 0


  - if @photos.blank?
    #gallery_no_photos
      =t('gallery.no_photos_in_this_gallery')
      = link_to t('gallery.upload_photos?'), new_user_gallery_photo_path(@gallery.user, @gallery) if can_gallery_upload?
  - else
    .row-fluid
      .span8
        #selected_photo
      .span4
        #photo-select{:style=>'height: 500px; overflow: auto;'}

          -@photos.in_groups_of(3, false).each do |photos_slice|
            %ul.thumbnails
              -photos_slice.each do |photo|
                %li.span4
                  = link_to_photo @gallery, photo


:javascript

  function popup_photo(photo_url, width, height) {
    $('#popup_window').html('');

    var css_img_width = '';
    var css_img_height = '';

    if (width == 0 || width == '') {
      css_img_width = 800;
    } else {
      var popup_width = $('#popup_window').width();
      var popup_height = $('#popup_window').height();
      if (width > popup_width) {
        css_img_width = popup_width - 100;
      } else {
        css_img_width = width;
      }
    }

    $('#popup_window').prepend('<img src="' + photo_url + '" style="width: ' + css_img_width + 'px;" />')
    $('#popup_window').show();


  }

  //$(window).resize(function() {
  //  alert('resize');
  //});

  $(document).ready(function() {
    add_identifier_to_links();
    $("#photos").niceScroll();
    initial_open_photo();

    $('#popup_window').bind('click', function() {
      $('#popup_window').hide();
    });
  });

  function initial_open_photo() {
    if (window.location.hash.length > 0) {
      identifier = window.location.hash;
      open_photo_by_identifier(identifier);
    } else if (#{@photos.length} != 0) {
      open_photo_by_identifier('##{@photos.blank? ? '' : @photos.first.identifier}');
      //$('#photos').find('a')[0].click();
    }
  }

  function add_identifier_to_links() {
    $('#photos').find('a').each(function(){
      $(this).click(function() {
        window.location.hash = $(this).attr('rel');
      })
    });
  }

  function open_photo_by_identifier(identifier) {
    $.ajax({
      url:  "#{find_by_identifier_user_gallery_photos_path(@gallery.user, @gallery)}",
      type: "POST",
      data: 'identifier=' + identifier
    })
  }
